html
{
  	height: 100%;
  	margin: 0px;
}

body
{
  	height: 100%;
  	margin: 0px;
  	display: flex;
  	flex-direction: column;
}

.ques_id {
    font-size:40px;
}

.outer-section {
	height: 85%;
}

.middle-pane {
	float:left;
	width: 70%;
	height: 100%;
}

.right-pane {
	float:left;
	width:25%;
	height: 100%;
}

.sline {
     width:100%;
     height:1px;
     background: black;
}

ul li.add{ list-style-type: none; }

.title {
    position:absolute;
    left: 50px;
}

.container {
    position:absolute;
    left: 50px;
    top: 300px;
    float:left;
	width: 70%;
	height: 100%;
    font-size:20px;
    text-align: left;
}

.submit_top {
    position:relative;
    top: 110px;
    left: 50px;
}

.submit_bottom {
    position: absolute;
    bottom: -150px;
    left: 900px;
}
/*
.below {
    position:relative;
    left: 0;
    bottom: 0px;
    height: 4%;
    width: 100%;
    background-color: purple;
    color: white;
    text-align: center;
}
*/
footer {
    position: fixed;
   /*position:relative;*/
   left: 0;
   bottom: 0px;
   height: 4%;
   width: 100%;
   background-color: purple;
   color: white;
   text-align: center;
}

header {
	height: 8%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

nav {
	height: 3%;
	text-align: center;
}
